# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.idea
.vscode

# System files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore

# Development files
*.log
*.md
.bolt